@use '/src/styles/mixins/responsive';

.trend {
  .dropDownWrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 24px 0 12px;

    > div {
      margin-right: 12px;
    }
  }

  .cardWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 240px;

    @include responsive.after('ML') {
      grid-template-columns: repeat(2, 1fr);
      width: 500px;
    }

    @include responsive.after('MD') {
      grid-template-columns: repeat(3, 1fr);
      width: 750px;
    }

    @include responsive.after('LD') {
      grid-template-columns: repeat(4, 1fr);
      width: 1000px;
    }
  }
}
