@use '/src/styles/constants/colors';

.imageWrapper {
  position: relative;
  width: 480px;
  height: 720px;
  margin-bottom: 12px; // 의미 없음, 보더 바텀이 안보여서.. 꼭 지울거임
  cursor: default;
  border: 1px solid colors.$BORDER_LINE;

  > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    cursor: pointer;
  }

  > label {
    cursor: pointer;
  }
}
