$BACK_COLOR: #fafafa;

$THEME: #5dd9d9;

$WHITE: #ffffff;

$GRAY_00: #f5f5f5;
$GRAY_01: #b9b7b7;
$GRAY_012: #757575;
$GRAY_02: #8c8c8c;

$INDEX: #424242;
$BASIC_TEXT: #2f3438;

$BORDER_LINE: #dedede;

$VALIDATE_RED: #f02323;
