@use '/src/styles/constants/colors';

.headerWrapper {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 14px 0;
  background-color: colors.$WHITE;
  border-bottom: 2px solid colors.$BORDER_LINE;

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;

    .logo {
      width: 72px;
      height: 72px;
      margin: -12px 0;
      cursor: pointer;
    }

    .leftHeaderWrapper {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    .rightHeaderWrapper {
      display: flex;
      align-items: center;
    }
  }
}
